.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 10px;
}

#preview{
  min-height: 300px;
}

textarea{
  height: 200px;
}

.card{
  width: 80vw;
}